.about-page {
    .people-bg {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
            url("https://res.cloudinary.com/john-pels/image/upload/v1585961500/hiclipart.com.png");
        background-size: cover;
        background-position: 20% 80%;
        height: 700px;

        .h2 {
            margin: 6em 0 0;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 45px;
            letter-spacing: 1.5px;
            color: #ffffff;
            opacity: 1;
        }
    }

}
