$color: hsla(38, 100%, 68%, 1);
$bg: hsla(210, 1%, 23%, 1);
.article {
    width: 100%;
    min-height: 400px;
    background: #fff;

     h3 {
        &:after {
            content: ""; 
            display: block; 
            margin: 0; 
            width: 40px; 
            padding-top: 10px; 
            border-bottom: 4px solid $color; 
        }
     }
}