$color: hsla(38, 100%, 68%, 1);
$white: hsl(0, 0%, 100%);
$bg: hsla(210, 1%, 23%, 1);
.main{
    min-height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;

    @media screen and (max-width: 700px) {
        min-height: 70vh;
    }
    h1 {
        color: $color;
        font-weight: 900;
    }
    p {
        color: $white;
    }
    // button {
    //     margin: auto 5px;
    //     padding: 0.500rem 2.75rem;
    //     font-weight: 600;

    //     &.btn__signup {
    //         color: #000000;
    //         background: $color !important;
    //     }
    //     &.btn__learn {
    //         outline-color: $color;
    //         color: $white;
    //         &:hover {
    //             background: $color;
    //             border-color: $color;
    //             color: #000000;
    //         }
    //     }

    // }
}