$color: hsla(38, 100%, 68%, 1);
$white: hsl(0, 0%, 100%);
$bg: hsla(210, 1%, 23%, 1);
.main{
    min-height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;

    Button {
        min-width: 120px;
        min-height: 50px;

        &.btn {
            background: $color;
            color: black;
        }
        &.btn-2 {
            border: 1px solid $color;
            color: #fff;

            &:hover, &:focus-within {
                background: $color;
                color: #000000;
            }
        }
    }

    @media screen and (max-width: 700px) {
        min-height: 70vh;
    }
    h1 {
        color: $color;
        font-weight: 900;
    }
    p {
        color: $white;
    }
    
}