$color: hsla(38, 100%, 68%, 1);
$bg: hsla(210, 1%, 23%, 1);
.header {
    background: $bg;
    width: auto;
    height: auto;
    .navbar-brand.header__logo {
    color: $color;
    font-weight: 900;
}
}